.vscode
# generated when calling python -m build [--sdist] [--wheel]:
# contains the compiled library and other object files
build/  
# contains egg-info and/or a .whl archive (dist-info/ + .so)
dist/
# metadata about the package (always generated somehow)
hello_pybind11.egg-info/

# shared library generated when calling pip install -e .
*.so
